  <footer class="fixed-bottom bg-dark">
  <div class="container text-center">
  <nav class="d-flex justify-content-evenly pt-2">
    <a href="https://facebook.com" target="_blank"> <i class="bi bi-facebook fs-3"></i> </a>
    <a href="https://twitter.com" target="_blank"> <i class="bi bi-twitter fs-3"></i> </a>
    <a href="https://github.com" target="_blank"> <i class="bi bi-github fs-3"></i> </a>
    <a href="https://youtube.com" target="_blank"> <i class="bi bi-youtube fs-3"></i> </a>
    <a href="https://instagram.com" target="_blank"> <i class="bi bi-instagram fs-3"></i> </a>
    <a href="https://facebook.com/messages" target="_blank"> <i class="bi bi-messenger fs-3"></i> </a>
    <a href="https://whatsapp.com" target="_blank"> <i class="bi bi-whatsapp fs-3"></i> </a>
  </nav>
  <small class="text-white">&copy; 2023 Hecho con fines educativos, tomando inspiración del sitio Corvus</small>
  </footer>
  </div>