<h1>Bootstrap</h1>
<h2>Grid de Bootstrap</h2>
<div class="container text-center">
  <div class="row">
    <div class="border-success col"> Column</div>
    <div class="border-success col"> Column</div>
    <div class="border-success col"> Column</div>
    <div class="border-success col"> Column</div>
  </div>
  <h2>Grid Responsiva</h2>
  <section class="row">
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 1</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 2</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 3</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 4</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 5</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 6</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 7</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 8</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 9</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 10</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 11</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 12</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 13</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 14</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 15</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 16</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 17</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 18</article>
    <article class="border col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-1"> elemento 19</article>
  </section>
  <h2>Offsetting Columns Bootstrap</h2>
  <div class="container text-center">
  <div class="row">
    <div class="border-primary col-3"> Column</div>
    <div class="border-primary col-6 offset-3"> Column</div>
    <div class="border-primary col-3"> Column</div>
    <div class="border-primary col"> Column</div>
  </div>
  <h3>Gutters</h3>
  <div class="container text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="border col">
      <div class="p-3">Row column</div>
    </div>
    <div class="border col">
      <div class="p-2">Row column</div>
    </div>
    <div class="border col">
      <div class="p-3">Row column</div>
    </div>
    <div class="bordercol">
      <div class="p-3">Row column</div>
    </div>
    <div class="border col">
      <div class="p-3">Row column</div>
    </div>
    <div class="border col">
      <div class="p-3">Row column</div>
    </div>
    <div class="border col">
      <div class="p-3">Row column</div>
    </div>
    <div class="border col">
      <div class="p-3">Row column</div>
    </div>
    <div class="border col">
      <div class="p-3">Row column</div>
    </div>
    <div class="border col">
      <div class="p-3">Row column</div>
    </div>
  </div>
</div>
  <h3>Formulario ejemplo</h3>
  <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
</div>
<div class="container text-start">
<h2>Componentes</h2>
<h3>Acordeon</h3>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
</div>
<h2>Colores</h2>
<p class="text-truncate">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem provident reprehenderit id architecto quisquam itaque repellat repellendus modi neque voluptatum, culpa delectus ea necessitatibus quos animi. Magnam voluptas natus molestiae.
</p>
<a href="#" class="display-1 link-success">Enlace</a>
<h2>Aspect Ratio</h2>
<div class="ratio ratio-16x9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ng8ur8KNrpU?si=u30ZP77nQJN3Tl-O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<H2>Utilidades</H2>
<h3>Colores de fondo</h3>
<div class="bg-success p-2 text-white">This is default success background</div>
<div class="bg-success p-2 text-white bg-opacity-75">This is 75% opacity success background</div>
<div class="bg-success p-2 text-dark bg-opacity-50">This is 50% opacity success background</div>
<div class="bg-success p-2 text-dark bg-opacity-25">This is 25% opacity success background</div>
<div class="bg-success p-2 text-dark bg-opacity-10">This is 10% opacity success background</div>
<nav class="sticky-bottom sticky-large-top display-2 text-danger">Sticky Responsive Nav</nav>

<div class="bg-dark w-100 min-vh-100 d-flex justify-content-center align-items-center">
  <h2 class="display-1 text-white"> Bootstrap is Awesome</h2>
</div>
<h2>Spacing</h2>
<p class="bg-warning text-white m-3 p-5 m-sm-0 p-sm-0 mt-md-5 mx-lg-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. At nemo molestiae tempore! Fuga nihil aliquid impedit! Distinctio natus illum, laboriosam voluptate maxime eius recusandae atque alias assumenda, exercitationem optio ullam.</p>





<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>